<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    原价：
    <input  v-model="oldPrice">{{oldPrice}}

    实付：
    <input v-model="currentPrice">

    包装费：
    <input v-model="packingFee">

    配送费：
    <input v-model="expressFee">

    订餐人数：
    <select id="dcrs">
        <option v-for="i in maxPeopleCount">{{i}}</option>
    </select>


    <div v-for="(orderItem,index) in orders">
        第{{index+1}}位订餐人：

        <div>
            <div v-for="(priceItem,priceIndex) in orderItem.unitPrice">
                单件商品价格：
                <input v-model="priceItem.oldPrice">{{priceItem.currentPrice}}
                <button v-on:click="deletePrice(priceIndex,orderItem.unitPrice)">-</button>
            </div>

            <div>
{{orderItem | getInfo}}

            </div>
        </div>

        <button v-on:click="addPrice(index)">添加商品价格</button>
        <button v-on:click="deletePeople(index,orders)">-</button>

    </div>


        <button v-on="" v-on:click="addPeople()">添加订餐人</button>


    <button id="js" v-on:click="compute">计算</button>
<button v-on:click="initData">reset</button>
</div>


</body>
</html>